<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>About</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content no-padding>

  <ion-segment [(ngModel)]="filterList" color="primary" (ionChange)="changeDisplay()" padding style="padding-bottom: 0;">  
      <ion-segment-button value="active" [disabled]="!capsules">
        Active
      </ion-segment-button>
      <ion-segment-button value="all" [disabled]="!capsules">
        All
      </ion-segment-button>
      <ion-segment-button value="inactive" [disabled]="!capsules">
        Inactive
      </ion-segment-button>
    </ion-segment>

  <ion-card *ngIf="about" no-padding>

    <img src="../../assets/imgs/about/spaceXposter.jpg">

    <ion-card-header text-center color="primary">
      {{ about.name }}
    </ion-card-header>

    <ion-card-content>
      {{ about.summary }}
    </ion-card-content>

    <ion-item>
      <ion-icon name="home" item-start large></ion-icon>
      <h2>Foundation</h2>
      <p>Founded by {{ about.founder }} in {{ about.founded }}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" item-left large></ion-icon>
      <h2>Headquarter</h2>
      <p> {{ about.headquarters.state}}, {{ about.headquarters.city }} </p>
      <p> {{ about.headquarters.address }} </p>
    </ion-item>

    <ion-item>
      <ion-icon name="people" item-left large></ion-icon>
      <h2>Employees</h2>
      <p> {{ about.employees}} </p>
    </ion-item>

    <ion-item>
      <ion-icon name="jet" item-left large></ion-icon>
      <h2>Launch Sites</h2>
      <p> {{ about.launch_sites}} </p>
      <p> Test Sites: {{ about.test_sites}} </p>
    </ion-item>

    <ion-item>
      <ion-icon name="car" item-left large></ion-icon>
      <h2>Vehicles</h2>
      <p> {{ about.vehicles}} </p>
    </ion-item>

  </ion-card>

  <timeline endIcon="call">
      <timeline-item *ngFor="let history of histories">
        <timeline-time [time]="history.event_date_utc"></timeline-time>
        <ion-icon name="calendar"></ion-icon>
        <ion-card>
          <ion-card-content>
              <h1>{{history.title}}</h1>
              <p text-justify>{{history.details}}</p>
          </ion-card-content>
        </ion-card>
      </timeline-item>
  
    </timeline>

</ion-content>
